.bulk-operations-panel {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 58px;
  right: 50px;
  background-color: white;
  padding: 0.5em;
}
