.header {
  display: flex;
  flex-direction: column;
  position: sticky;
  height: 100px;
  width: 100vw;
  background-color: #44c767;
  border-bottom: 2px solid darkgreen;
  top: 0;
  z-index: 10;

  &__title {
    align-self: center;
    flex-grow: 1;
  }

  &__btn-container {
    display: block;
    position: relative;

    button {
      height: 3em;
      width: 10vw;
      margin: 15px 0 15px 15px;
    }

    button:nth-of-type(3) {
      float: right;
      margin-right: 15px;
    }
  }
}
