.login-form {
  display: flex;
  background-color: white;
  flex-direction: column;
  border-radius: 2%;
  padding: 20px;

  &__validation {
    color: red
  }

  &__login-input {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
  }
}