.photo-card {
  max-width: 23vw;
  height: 23vh;
  position: relative;
  display: flex;
  margin: 15px 0 0 15px;
  border-radius: 5%;
  cursor: pointer;

  &__bulk-checkbox {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
  }

  &__image {
    max-width: 23vw;
    height: 23vh;
    object-fit: scale-down;
    border-radius: 5%;
  }

  &:hover &__photo-card-content {
    position: absolute;
    object-fit: scale-down;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba($color: white, $alpha: 0.6);
    border-radius: 5%;
    transition: all 0.2s;
  }

  &__meatballs-menu {
    display: none;
    color: black;
    background-color: white;
    font-family: Helvetica;
    z-index: 2;
  }

  &__meatballs-menu:active {
    background-color: black;
    color: white;
  }

  &__meatballs-menu:hover {
    background-color: whitesmoke;
  }

  &:hover &__meatballs-menu {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 30px;
    border-radius: 5%;
    text-align: center;
    font-size: 25px;
  }

  &__info {
    display: none;
    width: 80%;
  }

  &:hover &__info {
    display: block;
    margin-top: 15px;
    padding: 15px;
    list-style-type: none;
  }

  li {
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // display: -webkit-box;
    // -webkit-box-orient: vertical;
    // -webkit-line-clamp: 1;
    // overflow: hidden;
  }

  &__info-title {
    font-size: 30px;
    font-weight: bold;
  }
}
